<h2>Thank you!</h2>
<p>Your order has been placed</p>

<script type="text/javascript">
		
$(function() {
	
    //Очищаем localstorage, функция вызовается в  yield в layout
    // а после нее вызовется javascript из layout в конце, обновить кнопку
    window.localStorage.clear();

});
</script>